body{
    background-color: rgb(72, 116, 173);
    display: flex;
    margin: 150px;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(227, 212, 241);
    border-radius: 15%;
}
.divPai{
    border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(36, 30, 44);
  display: inline-block;
}
